<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('销毁单据审批')">
</head>
<body>
<script src="../../js/comps/EntryFormView.js"></script>
<script src="../../js/destructionBill/view/DestructionBillEntryFormView.js"></script>
<script src="../../js/destructionBill/view/DestructionBillDynamicFormView.js"></script>
<script src="../../js/billApproval/app.js"></script>
<script src="../../js/destructionBill/view/DestructionBillDetailView.js"></script>
<script src="../../js/destructionBill/view/DestructionBillInfoView.js"></script>
<script src="../../js/destructionBill/view/DestructionBillDetailGridView.js"></script>
<script src="../../js/destructionBill/view/DestructionBillWindow.js"></script>

</body>
<script th:inline="javascript">
    var taskid = [[${taskid}]];
    var flowsText = [[${flowsText}]];
    var nodeId = [[${nodeId}]];
    var iflag = [[${iflag}]];
    var type = [[${type}]];
    var appraisalSendmsg = [[${appraisalSendmsg}]]; //销毁是否短信通知
</script>
</html>