<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('查档办理完结提醒信息')">
</head>
<link href="../js/audio/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="../../js/photoview/css/photoview.css"/>
<link href="../js/audio/css/audio.css" rel="stylesheet"/>
<link href="../js/video/css/video-js.css" rel="stylesheet"/>
<script src="../../js/borrowfinish/app.js"></script>
<script src="../../js/comps/AdvancedSearchDynamicFormView.js"></script>
<script src="../js/flowplayerFlash/flowplayer.min.js"></script>
<script src="../js/audio/js/audio.js"></script>
<script src="../js/video/js/video.min.js"></script>
<script src="../js/comps/MediaFormView.js"></script>
<script src="../../js/photoview/js/photoview.js"></script>
<body>
</body>
</html>