<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('目录管理')">
</head>
<body>
<script src="../../js/batchModify/view/BatchModifyModifyFormView.js"></script>
<script src="../../js/batchModify/view/BatchModifyReplaceFormView.js"></script>
<script src="../../js/batchModify/view/BatchModifyAddFormView.js"></script>
<script src="../../js/batchModify/view/BatchModifyResultPreviewGrid.js"></script>
<script src="../../js/comps/EntryFormView.js"></script>
<script src="../../js/manageDirectory/app.js"></script>
</body>
</html>