<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('模板维护')">
</head>
<body>
<script src="../../js/codesetting/view/CodesettingSelectedFormView.js"></script>
<script src="../../js/codesetting/view/CodesettingItemSelectedFormView.js"></script>
<script src="../../js/codesetting/view/CodesettingDetailFormView.js"></script>
<script src="../../js/template/app.js"></script>
</body>
<script th:inline="javascript">
    var openSxData = [[${openSxData}]];
</script>
</html>