<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('采集数据审核办理')">
</head>
<body>
<script src="../../js/batchModify/view/BatchModifyModifyFormView.js"></script>
<script src="../../js/batchModify/view/BatchModifyReplaceFormView.js"></script>
<script src="../../js/batchModify/view/BatchModifyAddFormView.js"></script>
<script src="../../js/batchModify/view/BatchModifyResultPreviewGrid.js"></script>
<script src="../../js/netca/netcawebsocket.js"></script>
<script src="../../js/netca/netcaseal.js"></script>
<script src="../../js/netca/base64.min.js"></script>
<script src="../../js/netca/json2.js"></script>
<script src="../../js/transforAuditDeal/app.js"></script>
<script th:inline="javascript">
    var taskid = [[${taskid}]];
    var type = [[${type}]];
    var flag = [[${flag}]];
    var nodeId = [[${nodeId}]];
    var wjqxFunctionButton = [[${wjqxFunctionButton}]];//文件权限
    var systemLoginType = [[${systemLoginType}]];//登录系统设置  政务网1  局域网0
    var netcatUse = [[${netcatUse}]];//是否使用网证通电子签章  1使用  0禁用
    var captureAuditSize = [[${captureAuditSize}]];//使用网证通电子签章 的移交流程步骤总数
</script>
</body>
</html>