<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('档号对齐')">
</head>
<body>
<script src="../../js/codesetting/view/CodesettingSelectedFormView.js"></script>
<script src="../../js/codesetting/view/CodesettingItemSelectedFormView.js"></script>
<script src="../../js/codesetting/view/CodesettingDetailFormView.js"></script>
<script src="../../js/comps/EntryFormView.js"></script>
<script src="../../js/comps/AdvancedSearchDynamicFormView.js"></script>
<script src="../../js/codesettingAlign/app.js"></script>
</body>
</html>