<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('元数据管理')">
</head>
<body>
<script src="../../js/metadataManagement/app.js"></script>
<script src="../../js/comps/DynamicFormView.js"></script>
<script src="../../js/comps/ElectronicView.js"></script>
<script src="../../js/comps/SolidView.js"></script>
</body>
<script th:inline="javascript">
    var functionButton = [[${functionButton}]];
    var wjqxFunctionButton = [[${wjqxFunctionButton}]];//文件权限
</script>
</html>