<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::comonHeader('场地预约')">
</head>
<body>
<script src="../../js/placeOrder/app.js"></script>
<script src="../../ext/ux/Datetimefield.js"></script>
</body>
<script th:inline="javascript">
    var realname = [[${realname}]];
    var taskId = [[${taskId}]];
    var iflag = [[${iflag}]];
    var orderAuditState = [[${orderAuditState}]];

    var functionButton = [[${functionButton}]];
</script>
</html>