.x-fit-item{
	overflow-y: auto !important;
}

.x-view-item-focused{
    outline: 0px solid #ffffff !important;
}

.x-form-fieldcontainer,.x-toolbar{
    background:#F5F5F5 !important;
    border:0px;
}

#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
    padding: 3px;
    padding-bottom: 0;
    margin:auto;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb img{
    width:100px;
    height:100px;
}
#images-view .thumb-wrap{
	text-align: center;
    display: inline-block;
    margin:10px;
    padding: 5px;
	width:150px;
	height:150px;
}
#images-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

#images-view .x-item-over{
    background: #efefef url(over.gif) repeat-x left top;
}

#images-view .x-item-selected{
    background: #BFEFFF url(selected.gif) no-repeat right bottom;

}
#images-view .x-item-selected .thumb{
    background:transparent;
}

#images-view .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.x-editable {
    color: #000;
    margin-top:10px;
}

.x-view-item-focused{
	border:0px !important;
}
